<div class="body">
    <div class="mandar">
        <div class="contianer-mandar">
            <div class="mandar-inf">
                <span class="mini">Mandar imagenes</span>
            </div>
            <img src="./assets/message.png" alt="" class="mandar">
        </div>
    </div>
    <div class="nav">
     <span class="subtitle">Selecciona las imagenes de tu agrado </span>
    </div>
    <div class="container-images">
        <div class="bloqueImage">
            <input type="checkbox" class="chbx-image">
           <img src="./assets/imagen1.jpg" alt="" class="image-generate">
        </div>
        <div class="bloqueImage">
            <input type="checkbox" class="chbx-image">
            <img src="./assets/imagen2.jpg" alt="" class="image-generate">
         </div>
         <div class="bloqueImage">
            <input type="checkbox" class="chbx-image">
            <img src="./assets/imagen3.jfif " alt="" class="image-generate">
         </div>
         <div class="bloqueImage">
            <input type="checkbox" class="chbx-image">
            <img src="./assets/imagen4.jpg " alt="" class="image-generate">
         </div>
         <div class="margin-bottom"></div>
    </div>
</div>