@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*font-family: 'PT Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
/*font-family: 'Mukta', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/*font-family: 'Satisfy', cursive;*/
//Fuente de texto normal 16px 
//Subtitulos 18px
//Titulos 20px
//Entradas 16px bold de preferencia
//miniInformacion 14px

* {
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
    user-select: none;
}

@mixin centerH() {
    display: flex;
    align-items: center;
    height: 100%;
}

.body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.nav {
    position: relative;
    width: 100vw;
    min-height: 60px;
    height: 60px;
    background-color: rgb(47, 47, 47);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(185, 185, 185);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.068);
}

.nav>.filter-container1 {
    position: absolute;
    right: 70px;
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;


    &:hover {
        background-color: rgba(226, 226, 226, 0.108);
    }

    &:hover>.container-tooltip>.tooltip {
        position: absolute;
        left: -50%;
        opacity: 1;
        bottom: -50px;
        transform: translateX(-50%);
        width: 200px;
        height: 20px;
        border-radius: 5px;
        background-color: rgb(230, 230, 230);
        border: 1px solid rgb(205, 205, 205);
        display: flex;
        justify-content: center;
        font-size: 12px;
        z-index: 200;
    }
}


.container-informacion{
    width: 100%;
    height: 125px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
}
.informacion {
    min-width: 300px;
    width: 50%;
    margin: 10px;
    height: 50px;
    padding: 20px;
    background-color: rgb(47, 47, 47);
    border: 1px dotted white;
    max-width: 90%;
}

.informacion-text {
    font-family: 'Mukta', sans-serif;
    color: white;
}

.normal {
    font-size: 16px;
    color: black;
    margin: 0px 10px;
    @include centerH()
}

.mini {
    font-size: 14px;
    color: black;
    margin: 0px 10px;
    @include centerH()
}

.subtitle {
    padding-left: 20px;
    overflow: hidden;
    font-family: 'Satisfy', cursive;
    font-size: 24px;
    background-color: rgb(47, 47, 47);
    color: white;
    border-bottom: 2px solid rgb(126, 126, 126);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.055);
    @include centerH()
}


.container-tooltip {
    position: relative;
    width: 0px;
    height: 0px;
}

.tooltip {
    opacity: 0;
}



.nav>.filter-container2 {
    position: absolute;
    right: 140px;
    float: right;
    width: 50px;

    height: 50px;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: rgba(226, 226, 226, 0.108);
    }

    &:hover>.container-tooltip>.tooltip {
        position: absolute;
        left: -50%;
        opacity: 1;
        bottom: -50px;
        transform: translateX(-50%);
        width: 200px;
        height: 20px;
        border-radius: 5px;
        background-color: rgb(230, 230, 230);
        border: 1px solid rgb(205, 205, 205);
        display: flex;
        justify-content: center;
        font-size: 12px;
        z-index: 200;
    }
}

.filter {
    width: 60%;
    height: 50%;
    filter: invert(1)
}






.container-images {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    background-color: rgb(183, 183, 183);
    
    animation-iteration-count: 1;
    animation: 1s sweet-show;
    animation-fill-mode: forwards;
}

.container-images>.bloqueImage {
    margin: 20px;
    min-width: auto;
    min-height: 80%;
    height: 80%;
    width: auto;
    background-color: rgba(255, 255, 255, 0);
    
    border-radius: 5px;
    border: 3px solid black;
    resize: both;
    position: relative;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.171);
    position: absolute;
}

.container-images>.bloqueImage>.image-generate {
    width: 100%;
    height: 100%;
}


.container-images-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    animation-iteration-count: 1;
    animation: 1s sweet-show;
    animation-fill-mode: forwards;
}

.controlSelect{ 
    border-radius: 50%;
    background: rgb(255,255,255);
    background: linear-gradient(151deg, rgba(255,255,255,1) 1%, rgba(211,223,255,1) 8%, rgba(255,202,202,1) 93%, rgba(255,239,239,1) 100%);
}


.container-images-block>.bloqueImage {
    overflow: hidden;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    margin: 10px;
    border-radius: 5px;
    position: relative;
    &:hover > .controls{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        opacity: 1;
        transition: all 0.5s;
        position: absolute;
        bottom: 0px;
        transform: translateY(0%);
        left: 0px;
        height:  50px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    
        .control1,
        .control2,
        .control3,
        .control4{
           width: 50px;
           height: 50px;
           box-sizing: border-box;
           display: flex;
           justify-content: center;
           align-items: center;
           
           .icon-control{
            width: 45%;
            height: 45%;
           }

           &:hover{
            cursor: pointer;
            border-radius: 50%;
            background: rgb(255,255,255);
            background: linear-gradient(151deg, rgba(255,255,255,1) 1%, rgba(211,223,255,1) 8%, rgba(255,202,202,1) 93%, rgba(255,239,239,1) 100%);
            transform: scale(1.05);
           }
        }
    
        .control1{
            grid-column: 1;
        }
        .control2{
            grid-column: 2;
        }
        .control3{
            grid-column: 3;
        }
        .control4{
            grid-column: 5;
        }
    }
    
}
.container-images-block > .bloqueImage > .controls{
    border-left: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    opacity: 0;
    position: absolute;
    bottom: 0px;
    transition: all 0.3s;
    transform: translateY(100%);
    left: 0px;
    height:  50px;
    background-color: rgba(255, 255, 255, 0);

    .control1,
    .control2,
    .control3,
    .control4{
       width: 50px;
       height: 50px;
       box-sizing: border-box;
       display: flex;
       justify-content: center;
       align-items: center;
       
       .icon-control{
        width: 45%;
        height: 45%;
       }
    }

    .control1{
        grid-column: 1;
    }
    .control2{
        grid-column: 2;
    }
    .control3{
        grid-column: 3;
    }
    .control4{
        grid-column: 5;
    }
}

.container-images-block>.bloqueImage>.image-generate {
    min-width: 250px;
    width: 20%;
    margin: auto;
    max-width: 100%;
    height: auto;
    max-height: 380px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.171);
}


.container-images-block>.bloqueImage>.controls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
    position: absolute;
    bottom: 0px;
    left: 0px;
    height:  50px;
    background-color: rgb(255, 255, 255);

}
.container-flecha-izq {
    position: absolute;
    width: 40px;
    height: 40px;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer
}

.container-flecha-dere {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -100px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.icon-izq,
.icon-dere {
    width: 100%;
    height: 100%;
    filter: invert(0.2);
    transition: 0.2s;

    &:hover {
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.026);
        transition: 0.2s;
        filter: invert(0);
    }
}

.icon-dere {
    transform: rotate(180deg);
}



.chbx-image {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.margin-bottom {
    width: 100vw;
    height: 200px;
}

.mandar {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;

    &:hover {
        .mandar-inf {
            position: absolute;
            left: -180px;
            top: -100%;
            transform: translateY(50%);
            font-weight: bold;
            background-color: rgb(34, 68, 133);
            border-radius: 5px;
            padding: 10px;
            height: auto;
            visibility: visible;
        }

        .container-mandar {
            position: relative;
            width: 100%;
            height: 100%;
            filter: invert (.1);
            transform: scale(1.1);
        }
    }

}

.container-mandar {
    position: relative;
    width: 100%;
    height: 100%;
}

.mandar-inf {
    position: absolute;
    left: -180px;
    top: -100%;
    transform: translateY(50%);
    font-weight: bold;
    background-color: rgb(34, 68, 133);
    border-radius: 5px;
    padding: 10px;
    height: auto;
    visibility: hidden;
}


.mini {
    color: white;
}

.container-checkbox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-corazon-desactive {
    user-select: none;
    opacity: 0;
    width: 60px;
    height: 60px;
}

.icon-corazon-hide {
    user-select: none;
    width: 60px;
    height: 60px;
    opacity: 1;
    animation-iteration-count: 1;
    animation: 0.3s pop-reversed;
    animation-fill-mode: forwards;
}

.icon-corazon-active {
    user-select: none;
    width: 60px;
    height: 60px;
    opacity: 1;
    animation-iteration-count: 1;
    animation: 0.3s pop;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 700px) {
    /* estilos específicos para dispositivos móviles */

    .filter-container1,
    .filter-container2{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .container-images-block>.bloqueImage>.controls{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        opacity: 1;
        transition: all 0.5s;
        position: absolute;
        bottom: 0px;
        transform: translateY(0%);
        left: 0px;
        height:  50px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    
        .control1,
        .control2,
        .control3,
        .control4{
           width: 50px;
           height: 50px;
           box-sizing: border-box;
           display: flex;
           justify-content: center;
           align-items: center;
           
           .icon-control{
            width: 60%;
            height: 60%;
           }

           &:hover{
            cursor: pointer;
            transform: scale(1.05);
           }
        }
    
        .control1{
            grid-column: 1;
        }
        .control2{
            grid-column: 2;
        }
        .control3{
            grid-column: 3;
        }
        .control4{
            grid-column: 5;
        }
    }
  }

@keyframes sweet-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pop {
    0% {
        opacity: 0;
        width: 0px;
        height: 0px;
    }

    80% {
        opacity: 1;
        width: 70px;
        height: 70px;
    }

    81% {
        opacity: 1;
        width: 65px;
        height: 65px;
    }

    100% {
        opacity: 1;
        width: 60px;
        height: 60px;
    }
}

@keyframes pop-reversed {
    0% {
        opacity: 1;
        width: 60px;
        height: 60px;

    }

    20% {
        opacity: 1;
        width: 65px;
        height: 65px;

    }

    21% {
        opacity: 1;
        width: 70px;
        height: 70px;
    }

    100% {
        opacity: 0;
        width: 0px;
        height: 0px;
    }
}