<div class="body">
    <!---------------------->
    <div class="mandar">
        <div class="contianer-mandar" (click)="MandarImagenes()">
            <div class="mandar-inf">
                <span class="mini">Mandar imagenes</span>
            </div>
            <img src="./assets/message.png" alt="" class="mandar">
        </div>
    </div>
    <!---------------------->
    <nav class="nav">
        <span class="subtitle">Photo Republic</span>
        <div class="filter-container1" (click)="filter_information(2)">
            <img src="./assets/filter.png" alt="mostrar muchos" class="filter">
            <div class="container-tooltip">
                <span class="tooltip">Ordenar por bloques</span>
            </div>

        </div>
        <div class="filter-container2" (click)="filter_information(1)">
            <img src="./assets/filter2.png" alt="mostrar muchos" class="filter">
            <div class="container-tooltip">
                <span class="tooltip">Ordenar por bloque</span>
            </div>
        </div>
    </nav>
    <!---------------------->
    <!-- Imagen full screen -->
    <section class="container-images" *ngIf="bodyStyle === 1">
        <div class="bloqueImageFull">
            <div class="container-flecha-izq" (click)="changeImage(1)">
                <img src="./assets/flecha.png" class="icon-izq">
            </div>
            <div class="container-flecha-dere">
                <img src="./assets/flecha.png" class="icon-dere" (click)="changeImage(2)">
            </div>

            <div class="container-checkbox" (dblclick)="doubleClick(position)">
                <img src="./assets/corazon.png " [class]="classNames[position]" oncontextmenu="return false;">
            </div>
            <img [src]="images[position].pathCompress | safeUrl" alt="" class="image-generate">
        </div>
    </section>
    <!---------------------->
    <!-- Categorias -->
    <div class="container-grid" *ngIf="bodyStyle === 2">
        <div class="container-grid-left">
            <div class="category" *ngFor="let category of categorys; let i = index" (click)="select_category(i)">
                <img [src]=category.iconsrc class="category-icon">
                {{category.title}}
                <div class="focus_category"></div>
            </div>
            <div class="category" (click)="select_liked()">
                <img src="./assets/corazon.png" class="category-icon">
                Liked
                <div class="focus_category"></div>
            </div>
        </div>
        <!---------------------->
        <!-- Estilos para imagenes en bloque -->
        <div class="container-grid-right">
            <div class="container-images-block" *ngIf="bodyStyle === 2">
                <div class="container-informacion">
                    <div class="informacion">
                        <div class="container-parrafo">
                            <img src="./assets/heart.png" class="informacion-icon">
                            <span class="line">-</span>
                            <span class="informacion-text">
                                Haz click para seleccionar las imagenes que te gustaron.
                            </span>
                        </div>
                        <div class="container-parrafo">
                            <img src="./assets/print.png" class="informacion-icon" style="filter: invert(1);">
                            <span class="line">-</span>
                            <span class="informacion-text">
                                Selecciona las imagenes que quieres que sean impresas.
                            </span>
                        </div>
                        <div class="container-parrafo">
                            <img src="./assets/ampliacion.png" class="informacion-icon" style="filter: invert(1);">
                            <span class="line">-</span>
                            <span class="informacion-text">
                                Selecciona las imagenes que quieres que sean ampliadas.
                            </span>
                        </div>
                    </div>
                </div>
                <!-- *************************************************** -->
                <!-- Estilos nuevos para cada caso de orientacion -->
                <div *ngFor="let image of images; let i = index" class="bloqueImage {{image.orientation}}">
                    <div class="container-image" (dblclick)="doubleClick(i)">
                        <img [src]="image.pathCompress | safeUrl" alt="" #image class="image-generate">
                    </div>
                    <div class="container-controls">
                        <!-- LIKE BUTTON -->
                        <div class="control1 controlSelect" (click)="doubleClick(i)" *ngIf="image.liked">
                            <img src="./assets/heart.png" alt="" class="icon-control">
                        </div>
                        <div class="control1" (click)="doubleClick(i)" *ngIf="!image.liked">
                            <img src="./assets/love.png" alt="" class="icon-control">
                        </div>
                        <!-- AMPLIED BUTTON -->
                        <div class="control2 controlSelect" (click)="zoomClick_Event(i)" *ngIf="image.amplied">
                            <img src="./assets/ampliacion.png" alt="" class="icon-control">
                        </div>
                        <div class="control2" (click)="zoomClick_Event(i)"  *ngIf="!image.amplied">
                            <img src="./assets/ampliacion.png" alt="" class="icon-control">
                        </div>
                        <!-- PRINT BUTTON -->
                        <div class="control3 controlSelect" (click)="printClick_Event(i)" *ngIf="image.print">
                            <img src="./assets/print.png" alt="" class="icon-control">
                        </div>
                        <div class="control3" (click)="printClick_Event(i)" *ngIf="!image.print">
                            <img src="./assets/print.png" alt="" class="icon-control">
                        </div>
                        <!-- FULL SCREEN BUTTON -->
                        <div class="control4" (click)="fullScreen_Event(i)">
                            <img src="./assets/zoom.png" alt="" class="icon-control">
                        </div>
                        <!-- ### -->
                    </div>
                </div>
            </div>
        </div>
        <!--###-->
    </div>
    <!---------------------->
</div>