<div class="body">
  <div class="nav">
    <div class="container-icon">
      Photo Republic
    </div>
    <span class="subtitle">Ingresa tus credenciales</span>
  </div>
  <div class="container-informacion">
    <div class="container-info">
      <img src="./assets/informacion.png" alt="informacion" class="informacion">
    </div>
    <span class="normal">Ingresa tu id para acceder a las imagenes😍</span>
  </div>
  <div class="container-entradas">
    <div class="container-agroup">
      <span class="normal">
        ID de usuario
      </span>
      <input type="text" class="inputText" #idInput placeholder="4567-2344-2345">
    </div>

    <div class="btn-entrar" (click)="logIn(idInput.value)">Entrar</div>
  </div>
</div>