<nav>
    Ver categoria
</nav>
<div class="container-primary">
    <div class="maceta1">
        <img src="./assets/maceta.png" alt="" class="maceta">
    </div>
    <div class="maceta2">
        <img src="./assets/maceta.png" alt="" class="maceta">
    </div>
    <div class="agroup">
        <div class="informacion">
            Selecciona una categoria para subir las imagenes del usuario
        </div>
        <div class="btn-crear">

            <div class="shadow-container" (click)="back()">
                Regresar
            </div>
        </div>
    </div>
    <!--  -->
    <div>
        <div class="title-container">
            <hr class="line">
            <span class="name">Evento</span>
            <hr class="line">
        </div>
        <div class="container-category">    
            <div class="primary-container" *ngFor="let category of categorias; let i = index">
                <div class="bloque-category">
                    <div class="icon">
                        <img src="./assets/anillos.png" alt="icono" class="source_image">
                    </div>
                    <div class="name">Boda</div>
                    <div class="btn-seleccionar" (click)="select_category(i)">Seleccionar</div>
                </div>
                <div class="bloque-category">
                    <div class="icon">
                        <img src="./assets/party1.png" alt="icono" class="source_image">
                    </div>
                    <div class="name">XV</div>
                    <div class="btn-seleccionar" (click)="select_category(i)">Seleccionar</div>
                </div>
                <div class="bloque-category">
                    <div class="icon">
                        <img src="./assets/circulo-azul.png" alt="icono" class="source_image">
                    </div>
                    <div class="name">Sesion Casual</div>
                    <div class="btn-seleccionar" (click)="select_category(i)">Seleccionar</div>
                </div>
            </div>
        </div>
    </div>
</div>