@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
/*font-family: 'PT Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
/*font-family: 'Mukta', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/*font-family: 'Satisfy', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
// font-family: 'Quicksand', sans-serif;

//Fuente de texto normal 16px 
//Subtitulos 18px
//Titulos 20px
//Entradas 16px bold de preferencia
//miniInformacion 14px

* {
    font-family: 'Mukta', sans-serif;
    font-size: 14px;
}

@mixin center() {
    // display and positions
    display: flex;
    justify-content: center;
    align-items: center;
    // size
    width: 100%;
    height: 100%;
}

@mixin centerH() {
    //display
    display: flex;
    align-items: center;
    //size
    height: 100%;
}