<div class="body">
    <nav>
        Administrar cuentas
    </nav>
    <div class="container-primary">
        <div class="maceta1">
            <img src="./assets/maceta.png" alt="" class="maceta">
        </div>
        <div class="maceta2">
            <img src="./assets/maceta.png" alt="" class="maceta">
        </div>
        <div class="informacion">En esta opcion puedes gestion y administrar los usuarios de la plataforma. Puedes obtener el ID de cada usuario para que el cliente pueda iniciar sesion y ver las imagenes que tu subas.</div>
        <div class="btn-crear">
            <div class="shadow-container">Crear usuario</div>
        </div>
        <!-- <div class="bloque">Eliminar usuario</div> -->
    </div>
</div>
89