<div class="message" *ngIf="showMessage">
    <div class="text_message">
       {{alert_message}}
    </div>
    <div class="space"></div>
    <div class="btn_yes" (click)="message_click_event(true)" *ngIf="isConfirm">Si</div>
    <div class="btn_no" (click)="message_click_event(false)" *ngIf="isConfirm">Cancelar</div>
</div>
<div class="body" *ngIf="isUploadImage === 1">
    <nav>
        Cargar Imagenes
    </nav>
    <div class="container-primary">
        <div class="maceta1">
            <img src="./assets/maceta.png" alt="" class="maceta">
        </div>
        <div class="maceta2">
            <img src="./assets/maceta.png" alt="" class="maceta">
        </div>
        <div class="agroup">
            <div class="informacion">                {{info}}
            </div>
            <div class="container-right">
                <div class="btn-crear">
                    <div class="shadow-container" (click)="reset()">Regresar</div>
                </div>
                <div class="usuario-select-container"><b>Configurando al usuario:</b> <span
                        class="green">{{userSelected.name}}</span></div>
            </div>
        </div>
        <div class="title-container">
            <hr class="line">
            <span class="name">Editar Imgs</span>
            <hr class="line">
        </div>
    
        <div *ngIf="editImages === false">
            <span class="uploadImagesTitle_shadow">
                <span class="uploadImagesTitle">Sube las imagenes del cliente.</span>
            </span>

            <div class="subirImages-container">
                <span class="subirtxt">{{images_status}}</span>
                <div class="seleccion" *ngIf="viewImages" (click)="verImagenes()">Ver seleccion</div>
                <input type="file" class="imagesInput" #images (change)="getLocalImages(images)"
                    accept="image/png, image/gif, image/jpeg" multiple>
            </div>
        </div>
        <div class="guardar_todo" *ngIf="editImages === true">
            <span>Subir😁👍</span>
            <div class="up" >Guardar Todo</div>
            <div class="focus" (click)="subirImagenes()"></div>
        </div>
        <div class="container_images" *ngIf="editImages === true">
                <div class="imagen"  *ngFor="let name of imagesNames; let i = index">
                    <div class="prueba">
                        <div class="prueba2">
                            <img  [src]="name | safeUrl" class="img-style">
                        </div>
                    </div>
                    <select name="" id="" class="borde" #borderType (change)="setBorder(borderType.value, i)">
                        <option>Sin borde</option>
                        <option>Doble</option>
                        <option>Solido</option>
                        <option>Separado</option>
                    </select>
                </div>
        </div>
     
    </div>
</div>
<div class="body" *ngIf="isUploadImage === 0">
    <nav>
        Administrar cuentas
    </nav>
    <div class="container-primary">
        <div class="maceta1">
            <img src="./assets/maceta.png" alt="" class="maceta">
        </div>
        <div class="maceta2">
            <img src="./assets/maceta.png" alt="" class="maceta">
        </div>
        <div class="agroup">
            <div class="informacion">
                {{info}}
            </div>
            <div class="btn-crear">
                <div class="shadow-container" (click)="createUser_Event()">{{message}}</div>
            </div>
        </div>
        <div class="agroup-user-create" *ngIf="isCreateUser">
            <div class="title-container">
                <hr class="line">
                <span class="name">Crear Usuario</span>
                <hr class="line">
            </div>
            <div class="container_createUser">
                <div class="container_entrada">
                    <div class="title">ID del usuario</div>
                    <div class="center">
                        <input type="text" class="inputTxt" #idInput>
                    </div>
                </div>

                <hr class="line">

                <div class="container_entrada">
                    <div class="title">Nombre del usuario</div>
                    <div class="center">
                        <input type="text" class="inputTxt" #nameInput>
                    </div>
                </div>
                <div class="btn-guardar" (click)="guardarUsuario_Event(idInput.value, nameInput.value)">Guardar Usuario
                </div>
            </div>

        </div>
        <div class="agroup-user" *ngIf="!isCreateUser">
            <div class="title-container">
                <hr class="line">
                <span class="name">Usuarios</span>
                <hr class="line">
            </div>
            <div class="bloque-usuario" *ngFor="let user of users; let i = index">
                <span class="nombre">{{user.name}}</span>
                <span class="id">{{user.id}}</span>
                <div class="container-drop">
                    <img src="./assets/upload.png" alt="remove" class="drop-icon" (click)="uploadImages_Event(user)">
                    <div class="message_hover">Subir imagenes</div>
                </div>
                <div class="container-drop">
                    <img src="./assets/remove.png" alt="remove" class="drop-icon" (click)="drop_user(user.id)">
                    <div class="message_hover">Eliminar usuario</div>
                </div>
            </div>


        </div>

    </div>
</div>