<div class="message" *ngIf="showMessage">
    <div class="text_message">
        ¿Desea eliminar el usuario?
    </div>
    <div class="space"></div>
    <div class="btn_yes" (click)="message_click_event(true)">Si</div>
    <div class="btn_no" (click)="message_click_event(false)">Cancelar</div>
</div>
<div class="body">
    <nav>
        Administrar cuentas
    </nav>
    <div class="container-primary">
        <div class="maceta1">
            <img src="./assets/maceta.png" alt="" class="maceta">
        </div>
        <div class="maceta2">
            <img src="./assets/maceta.png" alt="" class="maceta">
        </div>
        <div class="agroup">
            <div class="informacion">En esta opcion puedes gestion y administrar los usuarios de la plataforma. Puedes
                obtener el ID de cada usuario para que el cliente pueda iniciar sesion y ver las imagenes que tu subas.
            </div>
            <div class="btn-crear">
                <div class="shadow-container" (click)="createUser_Event()">{{message}}</div>
            </div>
        </div>
        <div class="agroup-user-create" *ngIf="isCreateUser">
            <div class="title-container">
                <hr class="line">
                <span class="name">Crear Usuario</span>
                <hr class="line">
            </div>
            <div class="container_createUser">
                
            </div>

        </div>
        <div class="agroup-user" *ngIf="!isCreateUser">
            <div class="title-container">
                <hr class="line">
                <span class="name">Usuarios</span>
                <hr class="line">
            </div>
            <div class="bloque-usuario" *ngFor="let user of users; let i = index">
                <span class="nombre">{{user.name}}</span>
                <div class="container-drop">
                    <img src="./assets/remove.png" alt="remove" class="drop-icon" (click)="drop_user(user.id)">
                </div>
            </div>

        </div>

    </div>
</div>
89